<ion-view view-title="Employee Details">
  <ion-content class="padding">

<div class="row">
    <input class="span4 pull-right" type="text" placeholder="Search " ng-model="query">
</div>
    <table id="results" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>Postal Code</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in $root.tableData.data | filter : query ">
            <td id="id">{{data.id}}</td>
            <td id="name">{{data.name}}</td>
            <td id="phone">{{data.phone}}</td>
            <td id="city">{{data.address.city}}</td>
            <td id="a1">{{data.address.address_line1}}</td>
            <td id="a2">{{data.address.address_line2}}</td>
            <td id="pc">{{data.address.postal_code}}</td>
            <td><button id="{{data.id}}" ng-click="showHideForm(clicked,'edit', data)">Edit</button></td>
        </tr>
        </tbody>
    </table>
    <br>
    <button ng-click="showHideForm(clicked, 'add', null)">Add Data</button>
    <form ng-if="clicked == 1 ?true : false" name="add_edit_form">
      <input ng-model="add.id" placeholder="id"></input>
      <input ng-model="add.name"  placeholder="name (Min 4 letters)" ng-minlength = '4'></input>
      <input ng-model="add.phone" ng-if="buttonToShow == 'add'" type="number" placeholder="phone"></input>
      <input ng-model="add.phone" ng-if="buttonToShow == 'edit'" placeholder="phone"></input>
      <input ng-model="add.address.city" placeholder="city"></input>
      <input ng-model="add.address.address_line1" placeholder="address 1"></input>
      <input ng-model="add.address.address_line2" placeholder="address 2"></input>
      <input ng-model="add.address.postal_code" placeholder="postal code"></input>
      <button ng-if="buttonToShow == 'add'" ng-click="addRow()">Submit</button>
      <button ng-if="buttonToShow == 'edit'" ng-click="updateRow(add)">Update</button>
    </form>
  </ion-content>
</ion-view>
